.directory {
	user-select: none;
	overflow-x: hidden;
	overflow-y: scroll;
}

.directory::-webkit-scrollbar {
	display: none;
}

.directory,
.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
	list-style: none;
}

.directory .tree-node {
	white-space: nowrap;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
}

.directory .tree-node:hover {
	background: rgba(0, 0, 0, 0.05);
}

.directory .tree-leaf-list-item--selected {
	background: rgba(128, 128, 255, 0.1);
}

.directory .icon {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}

.tree-leaf-list-item, .tree-branch-wrapper {
	list-style: none;
}